<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<b>Angular Learning</b>&nbsp;
<a routerLink = "/view-emp" routerLinkActive="active-link">View Employee</a>
&nbsp;
<a routerLink = "/edit-emp" routerLinkActive="active-link">Edit Employee</a>
&nbsp;
<a routerLink="/quantity-increment" routerLinkActive="active-link">Quantity Increment</a>
&nbsp;
<a routerLink="/quantity-selector" routerLinkActive="active-link">Quantity Selector</a>
&nbsp;
<a routerLink="/edit-emp-template-driven" routerLinkActive="active-link">Edit Employee - Template Driven</a>
&nbsp;
<a routerLink="/edit-emp-reactive" routerLinkActive="active-link">Edit Employee - Reactive Driven</a>
&nbsp;
<a routerLink="/edit-emp-form-builder" routerLinkActive="active-link">Edit Employee - Form Builder</a>
&nbsp;
<a routerLink="/app-employee-list" routerLinkActive="active-link">Employees</a>
&nbsp;
<a routerLink="/app-login" routerLinkActive="active-link">Login</a>
&nbsp;
<a routerLink="/app-user" routerLinkActive="active-link">User List</a>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
